# Module 1

# Unit 1

Variables

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
var1=41
var2=34
var3=45
var4='hey'
var5='true'
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

41
34
45
hey
true

In [2]:
var1=41
var2=34
var3=45
var4='hey'
var5='true'
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(type(var1),type(var2),type(var3),type(var4),type(var5))

41
34
45
hey
true
<class 'int'> <class 'int'> <class 'int'> <class 'str'> <class 'str'>

In [7]:
# contatenation of two string

var1=34
var2=35
str1='ye'
str2='ah'
print(var1+var2)
print(str1+str2)

69
yeah

In [8]:
a=b=c=1
print('a')

a

In [9]:
a

1

In [10]:
print(a,b,c)

1 1 1

In [11]:
a=b=c=1
b=56
a=c=0
b=b-a
print(a, b, c)

0 56 0

# Delete asign value

In [15]:
var1=41
var2=34
var3=45
var4='hey'
var5='true'
del var2

In [16]:
print(var2)

NameError: name 'var2' is not defined

# Python data types

#Numerical (immutable) int float complex numbers String (immutable) List (mutable) Tuples(immutable) Dictionary(mutable) Sets (mutable)

# string

In [19]:
str1 = 'tejas'
str2 = 'pandya'

str1

'tejas'

In [20]:
str2

'pandya'

In [21]:
print(str1+str2)

tejaspandya

In [24]:
print(str1,str2,sep='\n')

tejas
pandya

In [26]:
print(str1+''+str2)

tejaspandya

In [32]:
str1='Python is very easy laguage'
str1

'Python is very easy laguage'

In [28]:
str1[0]

'P'

In [29]:
str1[:]

'Python is very easy language'

# s[begning:end:step]

In [33]:
str1='Python is very easy laguage'
str1[0:]

'Python is very easy laguage'

In [34]:
str1[0:10]

'Python is '

In [35]:
str1[0:27:3]

'Ph  reyaa'

In [37]:
str1[-1]

'e'

In [38]:
# reverse string 

str1[::-1]

'egaugal ysae yrev si nohtyP'

In [2]:
str1='my name is khan'
str1[20:10:-1]

'nahk'

In [3]:
s='and i am not a terrorist'
s

'and i am not a terrorist'

In [4]:
str1+s

'my name is khanand i am not a terrorist'

In [7]:
str1*1*2

'my name is khanmy name is khan'

In [8]:
s[0]='A'

TypeError: 'str' object does not support item assignment

In [9]:
s

'and i am not a terrorist'

In [10]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [11]:
s

'and i am not a terrorist'

In [12]:
del s

In [13]:
s

NameError: name 's' is not defined

In [14]:
s='my name is tejas'
s

'my name is tejas'

In [15]:
len(s)

16

In [16]:
type(s)

str

In [17]:
#true of false

str1='code unnati'
print('d' in str1)
print('y' in str1)

True
False

In [18]:
str1==s

False

In [19]:
str1>=s

False

In [20]:
str1<=s

True

In [21]:
#remove string from string 

str2=' tejas'
str3='pandya '
str2

' tejas'

In [24]:
print(str2.lstrip())
print(str3.rstrip())

tejas
pandya

In [25]:
s='my name is tejas'
s

'my name is tejas'

In [26]:
print(s.find('name'))

3

In [27]:
print(s.find('tejas'))

11

In [28]:
print(s.find(11))

TypeError: must be str, not int

# String formating

In [29]:
str1="{} {} {}".format('python','is','easy')
str1

'python is easy'

In [30]:
str1="{1} {0} {2}".format('python','is','easy')
str1

'is python easy'

In [32]:
str1="{a} {b} {c}".format(b='python',a='is',c='easy')
str1

'is python easy'

# Tuple

In [2]:
tuple1=('hello','hey',112)
print(tuple1)

('hello', 'hey', 112)

In [3]:
tuple1[0]

'hello'

In [4]:
tuple1[1]

'hey'

In [5]:
tuple1[-1]

112

In [6]:
tuple1[0:2]

('hello', 'hey')

In [7]:
tuple1[0:3]

('hello', 'hey', 112)

In [8]:
len(tuple1)

3

In [9]:
type(tuple1)

tuple

In [10]:
tuple1*2

('hello', 'hey', 112, 'hello', 'hey', 112)

In [11]:
tuple1[0]='code'

TypeError: 'tuple' object does not support item assignment

In [12]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
t=(30,20,10,50,40)
t1=sorted(t)
print(t1)

[10, 20, 30, 40, 50]

In [15]:
tup=(10,20,10,10,20)
print(tup.count(10))

3

In [16]:
len(tup)

5

In [17]:
type(tup)

tuple

In [18]:
print(tup.index(20))

1

In [21]:
print(max(tup))

20

In [22]:
print(min(tup))

10

NameError: name 'printsorted' is not defined

In [27]:
t=(30,20,10,50,40)
t1=sorted(t,reverse=True)
print(t1)

[50, 40, 30, 20, 10]

# list

In [31]:
list1=['hey','i','am','tejas']
list2=['and','whats','your','name']
print(list1)
print(list2)
(list1+list2)

['hey', 'i', 'am', 'tejas']
['and', 'whats', 'your', 'name']

['hey', 'i', 'am', 'tejas', 'and', 'whats', 'your', 'name']

In [2]:
list1=['hey','i','am','tejas']
list2=['and','whats','your','name']
len(list1+list2)
print(len(list1+list2))

8

In [3]:
list1=['hey','i','am','tejas']
list2=['and','whats','your','name']
type(list1+list2)

list

In [4]:
list1=['hey','i','am','tejas']
list2=['and','whats','your','name']
list2*2

['and', 'whats', 'your', 'name', 'and', 'whats', 'your', 'name']

In [5]:
list1[-1]

'tejas'

In [7]:
list1[1:3]

['i', 'am']

In [8]:
list2[-4:-2]

['and', 'whats']

In [9]:
list1=['hey','i','am','tejas']
list1[0]='hell0'
print(list1)

['hell0', 'i', 'am', 'tejas']

In [10]:
list1=['hey','i','am','tejas']
del list1[0]
print(list1)

['i', 'am', 'tejas']

# Dictionary

In [13]:
dict1={"college" : "kjit","branch" : "IT"}
print(dict1)

{'college': 'kjit', 'branch': 'IT'}

In [14]:
dict2={1 : "mango", 2 : "Cat", 3 : "Gtu"}
print(dict2)

{1: 'mango', 2: 'Cat', 3: 'Gtu'}

In [18]:
# printing key values only 

print(dict1.keys())
dict2.keys()

dict_keys(['college', 'branch'])

dict_keys([1, 2, 3])

In [20]:
dict3={}
dict3["one"]="value1"
dict3["two"]="value2"
print(dict3)

{'one': 'value1', 'two': 'value2'}

In [22]:
dict1={"college" : "kjit","branch" : "IT"}
dict1.values()

dict_values(['kjit', 'IT'])

In [24]:
dict1['college']

'kjit'

In [4]:
dict1={"college" : "kjit","branch" : "IT"}
print(dict1)
dict1["college"]="svit"
dict1

{'college': 'kjit', 'branch': 'IT'}

{'college': 'svit', 'branch': 'IT'}

# LOOPS

# WHILE EXPRESSIONS

In [9]:
count = 0
while(count<5):
    count=count+1
    print("i love india")

i love india
i love india
i love india
i love india
i love india

# For loop

# for iteration var in seq:

# statement()

In [14]:
n = 5
for i in range(0,n):
 print(i)

0
1
2
3
4

In [21]:
list1

['hey', 'i', 'am', 'tejas']

In [16]:
list1=['hey','i','am','tejas']

In [17]:
list1

['hey', 'i', 'am', 'tejas']

In [20]:
for index in range(len(list1)):
  print(list1[index])

hey
i
am
tejas

# if

#  if else

In [22]:
i = 0 
if(i<10):
    print("hi")

hi

In [25]:
i=11
if(i<10):
    print("hi")
else:
        print("hey")

hey